div.container
  div.row
    div.col-12.col-sm-2.col-lg-1
      mixin formSelect(typeValue, typeCondition)
        option(value= typeValue)= typeCondition
      select.form_input.form_input--type(
        aria-label='Type of Spending'
      )
        +formSelect('inc','+')
        +formSelect('exp','-')
    div.col-12.col-sm-5.col-lg-6
      input.form_input.form_input--description#descInput(
        type='text'
        value=''
        placeholder='Description'
        aria-label='Description of the Spending'
      )
    div.col-12.col-sm-3
      input.form_input.form_input--value(
        type='text'
        value=''
        placeholder='Value'
        aria-label='Value of the Spending'
      )
    div.col-12.col-sm-2
      button.form_button(
        aria-label='Add Value to the Bord'
      )
        span Add Value
        i.far.fa-check-circle(
          aria-hidden='true'
        )
