div.container
  div.row
    div.col-1
      mixin formSelect(typeValue, typeCondition)
        option(value= typeValue)= typeCondition
      select.form_input.form_input--type
        +formSelect('inc','+')
        +formSelect('exp','-')
    div.col-6
      input.form_input.form_input--description(
        type='text'
        value=''
        placeholder='Description'
      )
    div.col-3
      input.form_input.form_input--value(
        type='text'
        value=''
        placeholder='Value'
      )
    div.col-2
      button.form_button
        i.far.fa-check-circle

